/*Icons made by Freepix        - Creative Commons 3.0 (creativecommons.org/licenses/by/3.0) */
/*Icons made by Plainicon      - Creative Commons 3.0 (creativecommons.org/licenses/by/3.0) */
/*Icons made by Lyolya         - Creative Commons 3.0 (creativecommons.org/licenses/by/3.0) */
/*Icons made by Gregor Cresnar - Creative Commons 3.0 (creativecommons.org/licenses/by/3.0) */

@import 'https://fonts.googleapis.com/css?family=Baloo+Da';
@import 'https://fonts.googleapis.com/css?family=Hammersmith+One';

html, body {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    /*Font Stuff*/
    font-family: 'Hammersmith One', cursive;

    font-size: 14px;
    font-weight: bold;

    background: url("../imgs/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    width: 1100px;
    height: auto;

    margin: auto;

    position: relative;
}

#main-header {
    width: 100%;
    /*height: 135px;*/
}

#wrap
{
    min-height: 100%;
}

#main
{
    overflow:auto;
    padding-bottom: 125px;
}  /* must be same height as the footer */

/*==============LOGO==============*/

#logo {
    width: 100px;
    height: 130px;

    position: relative;

    background: url(../imgs/logo.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}

#logo-text {
    width: 100px;
    height: auto;

    position: relative;
    top: -30px;

    font-size: 24px;
    font-weight: bold;

    text-align: center;
}

/*==============TWITCH STATUS==============*/
#twitch-status {
  width: 180px;
  height: 60px;

  position: relative;
  top: -55px;
  right: -200px;

  float:right;

  background: white;
}

/*==============NAVIGATION==============*/

#nav-wrap {
  position: relative;
  top: -100px;
  right: 200px;

  float: right;

  /*Font Stuff*/
  /*font-family: 'Baloo Da', cursive;*/

  font-size: 18px;
  font-weight: bold;

  text-align: center;
}

#nav li {
  padding: 12px 20px;
  box-sizing: border-box;
  display: inline-block;
}

.active {
  background: #5D94B2;
}

.link {
  text-decoration: none;
  list-style: none;

  color: white; /*#8BBCCC*/
}

.link:hover {
  transition: all 0.5s;
  background: #5D94B2;
}

/*Mobile Navigation*/
.menu_toggle {
	padding: 15px;
	top: -35px;
	position: relative;
}

.menu_slide a:link {color: white; text-decoration: none;}
.menu_slide a:visited {color: white; text-decoration: none;}

#nav-mobile {
	display:none;
	height: 32px;
	padding-top: 2px
}

.menu {
	overflow-x: hidden;
	position: relative;
	right: 0px;
}

.menu_open {
	right: 230px;
}

.menu_open .menu_slide {
	right: 0px;
}

.menu_slide,
.menu {
	transition: right 0.2s ease;
	-webkit-transition: right 0.2s ease;
	-moz-transition: right 0.2s ease;
}

.menu_slide {
	background-color: #5D94B2;
	position: fixed;
	top: 0;
	right: -230px;
	width: 180px;
	height: 100%;
	padding: 10px;
	text-align: center;
	z-index: 1;
	color: white;
}

.menu_slide .mobile-link {
  width: 100%;
  height: 45px;

  position: relative;

  box-sizing: border-box;
  padding-left: 20px;

  text-decoration: none;
  line-height: 3.5;
  list-style: none;
  text-align: left;
}

.menu_slide .mobile-link:hover {
  background: #9CC6CB;

  transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
}

/*==============TRAILER==============*/

#trailer {
  width: 100%;
  height: 600px;

  background: url("../imgs/trailer_00.jpg");
  background-size: 100%;
  background-repeat: no-repeat;

  color: white;
}

#trailer-img {
  max-width: 100%;
  height: auto;
}

/*==============INFO STUFF==============*/
#right {
  position: relative;
  top: -394px;
  right: 45px;

  float: right;
}

.section {
  width: 100%;
  height: auto;
  padding: 0 0 10px 0;

  font-size: 16px;
  font-weight: normal;
}

.section-head {
  width: 100%;
  height: 45px;

  font-family: 'Baloo Da', cursive;

  box-sizing: border-box;
  padding-left: 10px;

  background: #5D94B2;

  font-size: 24px;
  font-weight: normal;
  line-height: 2;
  color: white;
}

.section-desc {
  width: 100%;
  height: auto;

  background: #9CC6CB;

  box-sizing: border-box;
  padding: 20px;
}

/*==============PLATFORMS==============*/

.platform {
  width: 45%;
  height: 60px;

  margin-bottom: 10px;

  border: 1px solid black;

  font-size: 15px;
  font-weight: normal;

  line-height: 4;
  text-align: left;
}

.platform-header {
  width: 55px;
  height: 60px;

  background: #209FC9;

  border-right: 1px solid black;

  z-index: 2;

}

.platform-desc {
  width: 80%;
  height: 55px;

  position: relative;
  top: -55px;
  left: 55px;

  box-sizing: border-box;
  padding-left: 10px;

  z-index: 2;
}

/*====Windows====*/
#win-head {
  background: url("../imgs/win-logo.png");
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

/*====Macintosh====*/

#mac-head {
  background: url("../imgs/mac.png");
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

/*====Linux====*/

#linux-head {
  background: url("../imgs/linux.png");
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

/*==============DOWNLOAD==============*/

#bit86 {
  position: relative;
  right: 15px !important;
}

.dtext {
  position: relative;
  top: -30px;
  left: -30px;

  text-decoration: none;
  color: black;

  line-height: 4.2;

  font-weight: normal;
  font-size: 19px;
  text-align: center;
}

.d-link, .dtext:hover {
  color: #EEEEEE;
  transition: all 0.5s;
}

.arrow {
  width: 32px;
  height: 32px;

  position: relative;
  top: -100px;
  right: 75px;

  float: right;
  z-index: 99;

  background: url("../imgs/arrow.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

/*==============FOOTER==============*/

#sticky-footer
{
    position: relative;
    margin-top: -125px;
    height: 125px;
    clear:both;

    background: #668691;
}

/*Opera Fix*/
body:before
{/* thanks to Maleika (Kohoutec)*/
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}

#twitch
{
    background: url("../imgs/twitch-icon-small.png");
    background-size: 32px 32px;
    background-position: center;
    background-repeat: no-repeat;
}

#twitter
{
    background: url("../imgs/twitter.png");
    background-size: 32px 32px;
    background-position: center;
    background-repeat: no-repeat;
}

#youtube
{
    background: url("../imgs/youtube.png");
    background-size: 32px 32px;
    background-position: center;
    background-repeat: no-repeat;
}

#foot-wrap
{
    width: 100%;
    display: table;
    color: white;
    font-size: 14px;
}

.foot-box {
    padding-top: 10px;
    text-align: center;
    /*outline: #00FF00 dotted thick;*/
    display: table-cell;
    vertical-align: middle;
}

#foot-left
{
    width: 25%;
}

#foot-left a
{
    text-decoration: none;
    list-style: none;
    color: inherit;
}

#foot-mid
{
    width: 50%;
}

#foot-right
{
    width: 25%;
}

#foot-right a
{
    text-decoration: none;
    list-style: none;
    color: inherit;
}

#foot-nav
{
  text-decoration: none;
  list-style: none;
}

.social-link {
    display: inline-block;
    width: 48px;
    height: 32px;
}

a, .social-link:visited, .social-link:active {
    outline: 0;
    border: none;
}

.text-link {
    text-decoration: none;
    color: darkblue;
}

.text-link:hover {
    text-decoration: underline;
    color: lightcyan;
}

.foot-link:hover {
  text-decoration: underline;
}

/*==============CONTACT FORM==============*/
#form {
  width: 50%;
  height: auto;

  font-family: 'Baloo Da', cursive;
  font-size: 14px;
}

#textarea {
  width: 100%;
  height: 100px;

  box-sizing: border-box;
  padding: 5px;

  border: 3px solid #5D94B2;

  outline: none;
  resize: none;

  background: transparent;

  margin-bottom: 5px;

  color: white;
  font-size: 16px;
  font-weight: bold;
}

.field {
  width: 100%;
  height: 40px;

  margin-bottom: 5px;

  box-sizing: border-box;
  padding-left: 5px;

  background: transparent;

  outline: none;
  border: 3px solid #5D94B2;

  color: white;
  font-size: 16px;
  font-weight: bold;

}

.button {
  width: 100px;
  height: 35px;

  outline: none;

  border: 3px solid #5D94B2;
  background: transparent;

  color: white;
  font-size: 14px;
  font-weight: bold;
}

.button:hover {
  cursor: pointer;
  background: #5D94B2;
  color: white;

  transition: all linear 0.15s;
}

/*==============MEDIA QUERIES==============*/
@media screen and (max-width: 1090px) {

  .container {
    width: 100%;

  }

  .platform {
    width: 90%;
  }

  .section, .section-head, .section-desc {
    width: 100%;
  }

  #trailer {
    width: 100%;
    height: auto;

  }

  #nav {
    position: relative;
    left: -40px;
  }
}

@media screen and (max-width: 975px) {

  .container {
    width: 100%;

  }

  .section, .section-head, .section-desc {
    width: 100%;
  }

  .platform {
    width: 80%;
  }

  #trailer {
    width: 100%;
    height: auto;
  }

  #nav {
    position: relative;
    left: -40px;
  }

  #form {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {

  #nav {
    display: none;
  }

  #nav-mobile {
    display: block;
    float: right;
    color: white;

    position: relative;
    top: -60px;
  }

  .container {
    width: 100%;

  }

  .section, .section-head, .section-desc {
    width: 100%;
  }

  #trailer {
    width: 100%;
    height: auto;

  }

  #right {
    position: relative;
    top: 400px;

  }

  #logo {
    background-size: 50%;
  }

  .platform {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {

  .container {
    width: 100%;

  }

  .section-head {

    font-size: 20px;
    line-height: 2.5;
  }

  .section, .section-head, .section-desc {
    width: 100%;
  }

  #trailer {
    width: 100%;
    height: auto;
  }

  #right {
    position: relative;
    top: 400px;

  }

  .arrow {
    position: relative;
    left: -50px;

    background-size: 70%;
  }

  .dtext {
    position: relative;

    font-size: 16px;
  }

  #bit86 {
    position: relative;
    left: -10px;

  }

  #logo {
    background-size: 50%;
  }

  .platform {
    width: 100%;
  }
}

/*Browser Specific CSS.. Cause it hates me*/

@media screen and (-webkit-min-device-pixel-ratio:0)
  and (min-resolution:.001dpcm) {

    #nav {
      z-index: 3;
    }

    #trailer {
        z-index: 2;
        position: relative;
    }

    iframe {
      position: relative;
      top: -60px;
      z-index: 1;
    }

    #trailer-img {
      position: relative;
      top: -60px;
      z-index: 1;
    }
}

::-webkit-input-placeholder { /*Chrome*/
   color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;
}
