/*Icons made by Freepix        - Creative Commons 3.0 (creativecommons.org/licenses/by/3.0) */
/*Icons made by Plainicon      - Creative Commons 3.0 (creativecommons.org/licenses/by/3.0) */
/*Icons made by Lyolya         - Creative Commons 3.0 (creativecommons.org/licenses/by/3.0) */
/*Icons made by Gregor Cresnar - Creative Commons 3.0 (creativecommons.org/licenses/by/3.0) */

@import 'https://fonts.googleapis.com/css?family=Baloo+Da';
@import 'https://fonts.googleapis.com/css?family=Hammersmith+One';

html, body {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    /*Font Stuff*/
    font-family: 'Hammersmith One', cursive;

    font-size: 14px;
    font-weight: bold;

    background: url("../imgs/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    width: 1100px;
    height: auto;

    margin: 0 auto;

    position: relative;
}

#main-header {
    width: 100%;
    height: 135px;
}

/*==============LOGO==============*/

#logo {
    width: 100px;
    height: 150px;

    position: relative;

    background: url(../imgs/logo.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}

#logo-text {
    width: 100px;
    height: auto;

    position: relative;
    top: -30px;

    font-size: 24px;
    font-weight: bold;

    text-align: center;
}

/*==============NAVIGATION==============*/

#nav-wrap {
  position: relative;
  top: -100px;

  float: right;

  /*Font Stuff*/
  /*font-family: 'Baloo Da', cursive;*/

  font-size: 18px;
  font-weight: bold;

  text-align: center;
}

#nav li {
  padding: 12px 20px;
  box-sizing: border-box;

  display: inline-block;


}

.active {
  background: #5D94B2;
}

.link {
  text-decoration: none;
  list-style: none;

  color: white; /*#8BBCCC*/
}

.link:hover {
  transition: all 0.5s;
  background: #5D94B2;
}

/*Buy Button*/
.buy {
  color: white;
  background: #4DA326;
}

.buy:hover {
  transition: all 0.5s;
  background: #57B82A;
}

/*Mobile Navigation*/
.menu_toggle {
	padding: 15px;
	top: -35px;
	position: relative;
}

.menu_slide a:link {color: white; text-decoration: none;}
.menu_slide a:visited {color: white; text-decoration: none;}

#nav-mobile {
	display:none;
	height: 32px;
	margin-right: 15px;
	padding-top: 2px
}

.menu {
	overflow-x: hidden;
	position: relative;
	right: 0px;
}

.menu_open {
	right: 270px;
}

.menu_open .menu_slide {
	right: 0px;
}

.menu_slide,
.menu {
	transition: right 0.2s ease;
	-webkit-transition: right 0.2s ease;
	-moz-transition: right 0.2s ease;
}

.menu_slide {
	background-color: #5D94B2;
	position: fixed;
	top: 0;
	right: -270px;
	width: 250px;
	height: 100%;
	padding: 10px;
	/*text-align: center;*/
	z-index: 1;
	color: white;
}

.menu_slide .mobile-header{
  margin-left: 10px;
}

.menu_slide .mobile-link {
  width: 100%;
  height: 45px;

  position: relative;

  margin: 0 auto;

  box-sizing: border-box;
  padding-left: 20px;

  text-decoration: none;
  line-height: 3.5;
  list-style: none;
  text-align: left;
}

.menu_slide .mobile-link:hover {
  background: #9CC6CB;

  transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
}

/*==============TRAILER==============*/

#trailer {
  width: 100%;
  height: 600px;

  background: url("../imgs/trailer_00.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;

  margin-bottom: 10px;

  color: white;
}

#trailer-img {
  max-width: 100%;
  height: auto;
}

/*==============INFO STUFF==============*/
#right {
  position: relative;
  top: -394px;
  right: 45px;

  float: right;
}

.section {
  width: 100%;
  height: auto;

  margin-bottom: 10px;

  /*Font Stuff*/
  /*font-family: 'Baloo Da', cursive;*/

  font-size: 16px;
  font-weight: normal;
}

.section-head {
  width: 100%;
  height: 45px;

  margin: 0 auto;

    font-family: 'Baloo Da', cursive;

  box-sizing: border-box;
  padding-left: 10px;

  background: #5D94B2;

  font-size: 24px;
  font-weight: normal;
  line-height: 2;
  color: white;
}

.section-desc {
  width: 100%;
  height: auto;

  margin: 0 auto;

  background: #9CC6CB;

  box-sizing: border-box;
  padding: 20px;
}

/*==============PLATFORMS==============*/

.platform {
  width: 45%;
  height: 60px;

  margin-bottom: 10px;

  border: 1px solid black;

  /*Font Stuff*/
/*  font-family: 'Baloo Da', cursive;
*/
  font-size: 15px;
  font-weight: normal;

  line-height: 4;
  text-align: left;

}

.platform-header {
  width: 55px;
  height: 60px;

  background: #209FC9;

  border-right: 1px solid black;

  z-index: 2;

}

.platform-desc {
  width: 80%;
  height: 55px;

  position: relative;
  top: -55px;
  left: 55px;

  box-sizing: border-box;
  padding-left: 10px;

  z-index: 2;
}

/*====Windows====*/
#win-head {
  background: url("../imgs/win-logo.png");
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

/*====Macintosh====*/

#mac-head {
  background: url("../imgs/mac.png");
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

/*====Linux====*/

#linux-head {
  background: url("../imgs/linux.png");
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

/*==============DOWNLOAD==============*/

#bit86 {
  position: relative;
  right: 15px !important;
}

.dtext {
  position: relative;
  top: -30px;
  left: -30px;

  text-decoration: none;
  color: black;

  line-height: 4.2;

  font-weight: normal;
  font-size: 19px;
  text-align: center;
}

.d-link, .dtext:hover {
  color: #EEEEEE;
  transition: all 0.5s;
}

.arrow {
  width: 32px;
  height: 32px;

  position: relative;
  top: -100px;
  right: 75px;

  float: right;
  z-index: 99;

  background: url("../imgs/arrow.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

#helplink {
  width: 200px;
  height: 60px;

  position: relative;
  top: -25px;
  left: -65px;
}

/*==============FOOTER==============*/
#social {
  width: 240px;
  height: 80px;

  position: relative;

  margin: 0 auto;
}

#twitch {
  position: relative;

  float: left;

  background: url("../imgs/twitch-icon-small.png");
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

/*#fb {
  position: relative;
  top: 10px;
  left: -80px;

  background: url("../imgs/facebook.png");
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}*/

#twitter {

  position: relative;

  float: left;

  background: url("../imgs/twitter.png");
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

#youtube {
  position: relative;

  float: left;

  background: url("../imgs/youtube.png");
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

#foot-wrap {
  width: 100%;
  height: auto;

  margin: 0 auto;

  color: white;
  font-size: 18px;

}

#foot-right {
  padding-left: 10px;
  box-sizing: border-box;

  position: relative;
  left: 70px;

  float:right;

  text-align: center;
  font-size: 14px;
}

#foot-nav {
  position: relative;
  top: -10px;
}

#foot-nav a {
  text-decoration: none;

}

#copy {
  position: relative;
  top: 80px;

}

.social-link {
  width: 64px;
  height: 64px;

  margin: 0 auto;
}

#social {
  width: 100%;
  height: auto;

  position: relative;
  top: 20px;
  left: 85px;

  margin: 0 auto;
}

#link-right {
  width: 100%;
  height: auto;

  margin: 0 auto;

  position: relative;
  top: 90px;
  left: -100px;
}

a, .social-link:visited, .social-link:active {
  outline: 0;
  border: none;

}

.text-link {
    text-decoration: none;
    color: darkblue;
}

.text-link:hover {
    text-decoration: underline;
    color: lightcyan;
}

.foot-link {
  position: relative;

  margin-left: 15px;

  text-decoration: none;
  list-style: none;
  color: white; /*#8BBCCC;*/

  font-size: 16px;
}

.foot-link:hover {
  text-decoration: underline;
}

.foot-box {
  width: 33%;
  height: 200px;

  float: left;

  text-align: left;
}

/*==============CONTACT FORM==============*/
#form {
  width: 50%;
  height: auto;

  font-family: 'Baloo Da', cursive;
  font-size: 14px;
}

#textarea {
  width: 100%;
  height: 150px;

  box-sizing: border-box;
  padding: 5px;

  border: 3px solid #5D94B2;

  outline: none;
  resize: none;

  background: transparent;

  margin-bottom: 10px;

  color: white;
  font-size: 16px;
  font-weight: bold;
}

.field {
  width: 100%;
  height: 40px;

  margin-bottom: 10px;

  box-sizing: border-box;
  padding-left: 5px;

  background: transparent;

  outline: none;
  border: 3px solid #5D94B2;

  color: white;
  font-size: 16px;
  font-weight: bold;

}

.button {
  width: 100px;
  height: 35px;

  outline: none;

  border: 3px solid #5D94B2;
  background: transparent;

  color: white;
  font-size: 14px;
  font-weight: bold;
}

.button:hover {
  cursor: pointer;
  background: #5D94B2;
  color: white;

  transition: all linear 0.15s;
}

/*==============MEDIA QUERIES==============*/
@media screen and (max-width: 1090px) {

  .container {
    width: 100%;

  }

  .platform {
    width: 90%;
  }

  .section, .section-head, .section-desc {
    width: 100%;
  }

  #trailer {
    width: 100%;
    height: auto;

    margin-bottom: 10px;
  }

  #nav {
    position: relative;
    left: -40px;
  }
}

@media screen and (max-width: 975px) {

  .container {
    width: 100%;

  }

  .section, .section-head, .section-desc {
    width: 100%;
  }

  .platform {
    width: 80%;
  }

  #trailer {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  #nav {
    position: relative;
    left: -40px;
  }

  #form {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {

  #nav {
    display: none;
  }

  #nav-mobile {
    display: block;
    float: right;
    color: white;

    position: relative;
    top: -60px;
  }

  .container {
    width: 100%;

  }

  .section, .section-head, .section-desc {
    width: 100%;
  }

  #trailer {
    width: 100%;
    height: auto;

    margin-bottom: 10px;
  }

  #right {
    position: relative;
    top: 400px;

  }

  #logo {
    background-size: 50%;
  }

  .platform {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {

  .container {
    width: 100%;

  }

  .section-head {

    font-size: 20px;
    line-height: 2.5;
  }

  .section, .section-head, .section-desc {
    width: 100%;
  }

  #trailer {
    width: 100%;
    height: auto;
  }

  #right {
    position: relative;
    top: 400px;

  }

  .arrow {
    position: relative;
    left: -50px;

    background-size: 70%;
  }

  .dtext {
    position: relative;

    font-size: 16px;
  }

  #bit86 {
    position: relative;
    left: -10px;

  }

  #logo {
    background-size: 50%;
  }

  .platform {
    width: 100%;
  }
}

/*Browser Specific CSS.. Cause it hates me*/

@media screen and (-webkit-min-device-pixel-ratio:0)
  and (min-resolution:.001dpcm) {

    #nav {
      z-index: 3;
    }

    #trailer {
        z-index: 2;
        position: relative;
    }

    iframe {
      position: relative;
      top: -60px;
      z-index: 1;
    }

    #trailer-img {
      position: relative;
      top: -60px;
      z-index: 1;
    }
}

::-webkit-input-placeholder { /*Chrome*/
   color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;
}
